<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>site55699.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site55699</DeployIisAppPath>
    <UserName>site55699</UserName>
    <DestinationAppUrl>http://my-finance.runasp.net/</DestinationAppUrl>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
  </PropertyGroup>
</Project>
