<div class="month-year-navigator">
    <div class="month-year-navigator-content">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIos" OnClick="OnPreviousClicked" />
        <MudText Typo="Typo.subtitle1" Style="font-size:calc()">@CurrentLabel</MudText>
        <MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos" OnClick="OnNextClicked" />
    </div>
</div>

@code {
    [Parameter] public string CurrentLabel { get; set; } = string.Empty;
    [Parameter] public EventCallback OnPrevious { get; set; }
    [Parameter] public EventCallback OnNext { get; set; }

    private Task OnPreviousClicked() => OnPrevious.InvokeAsync();
    private Task OnNextClicked() => OnNext.InvokeAsync();
}
